[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Wifi-radar
GenericName=Wireless tool
Comment=Tool for connecting to wireless networks
Icon=wifi-radar.svg
FilePattern=wifi-radar
TryExec=wifi-radar
Exec=gksudo -S wifi-radar
Categories=Application;Network;
